body {
    background-color: antiquewhite;
    font-weight: bold; 
    padding-top: 10px;
    margin: 0;
}

.topo {
    background-color: #632100; 
    color: antiquewhite;
    padding-top:5px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center; 
}
.topo h1 {
    padding-top: 20px;
    font-size: 85px;
    line-height: 85px;
    padding-left: 25px;
    padding-bottom: 15px;
    border-bottom: 4px solid antiquewhite;
    display: inline-block;
    width: max-content;
    margin: 0;
}

.topo h2 {
    font-size: 50px;
    padding-top: 0px;
    line-height: 55px;
    padding-left: 400px;
    margin-top: 10px;
}
.topo h3 {
    font-size: 18px;
    line-height: 25px;
    padding-left: 1050px;
}
.topo img {
    width: 300px;        
    height: 300px;    
    border-radius: 50%; 
    object-fit: cover; 
    flex-shrink: 0; 
}
.pagina-inicial-santuario {
    
}
